@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: #D7FFBE;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #104218;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.title1 {
    background-color: #2DBD45;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #104218;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.text1 {
  margin: 2%;
  padding: 0,5%;
}
.form {
  background-color: #c0ff9a;
  margin: 2%;
  padding: 0.5%;
}


.map {
    width: 50%;
    height: 50%
}

#mapdiv {
    display: flex;
    align-items: center;
    justify-content: center
}

.video {
    width: max-content;
    height: max-content;
}

.visible {
    display : bloc
}

.invisible {
    display : none
}
.info {
  height: 2%;
  width: 100%;
  position: absolute;
  display: flex;

}

#bgbody {
    margin: 0;
    padding: 0;
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
}

.textrpg {
    text-align: center;
    position: relative;
    padding: 2%;
    margin: 10%;
    border-radius: 10px;
    background: rgba(232, 248, 234, 0.5)
    
}


button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: auto ;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px #94FF52,
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
} 

.btn-3 {
  background: #38611F;
  background: linear-gradient(0deg, #68B339 0%, #508A2C 100%);
  /* width: 130px; */
  /* height: 40px; */
  line-height: 25px;
  padding: 0;
  border: none;

}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: #1A6B27;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: #1A6B27;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: #1A6B27;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}